<!doctype html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link rel=stylesheet type=text/css href="/static/css/top.css">
    <title>__</title>
</head>
<body>
    <h1>言い訳</h1>
    <p>有料につき、ちゃんと実装できませんでした。実際にはsnapwidget(https://snapwidget.com/)を用いて以下のサイトの「麺通のうどんライフ投稿中！」のようにしたいです
    </p>
    <p>サイト：<a href="https://www.sanukiudon-mirai.jp/">https://www.sanukiudon-mirai.jp/</a></p>
    <p>仕様としては、①インスタグラムからハッシュタグ#のりあーとを含む投稿の写真を抽出、②マウスカーソルを写真に乗せるとその投稿内容が確認でき、③クリックすると各投稿のインスタグラムのページにアクセスできる</p>
</body>
</html>