<!doctype html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link rel=stylesheet type=text/css href="/static/css/top.css">
    <title>top</title>
</head>


<body>
    <div id="title">
        <h1>のりあーと美術館</h1>
    </div>
    <nav id="topnav">
        <ul id="navbar">
            <li id="navconcept"><a href="#">Concept</a></li>
            <li id="navmenu"><a href="#">Menu</a></li>
            <li id="navhowtocook"><a href="#">How to cook</a></li>
            <li id="navinsta"><a href="#">Instagram</a></li>
            <li id="navcatalog"><a href="#">Catalog</a></li>
            <li id="navcontact"><a href="#">Contact</a></li>
        </ul>
    </nav>
    <nav id="pagenav">
            <ul>
                <li id="nav2concept"><a href="#">Concept</a></li>
                <li id="nav2menu"><a href="#">Menu</a></li>
                <li id="nav2howtocook"><a href="#">How to cook</a></li>
                <li id="nav2insta"><a href="#">Instagram</a></li>
                <li id="nav2catalog"><a href="#">Catalog</a></li>
                <li id="nav2contact"><a href="#">Contact</a></li>
            </ul>
        </nav>

    <section id="conseptsection">
        <h1>＋10秒で簡単インスタ映え</h1>
        <p>平日のお弁当、週末のホームパーティーに<span>海苔</span>を<span>ワンポイント</span>して<span>オシャレ</span>にしてみませんか？</p>
    </section>
    <section id="menusection">
        <h1>Menu</h1>
        <p>お弁当には...</p>
        <img src="/static/images/logo.png">
        <img src="/static/images/logo.png">
        <p>ホームパーティーには...</p>
        <img src="/static/images/logo.png">
        <img src="/static/images/logo.png">
    </section>
    <section>
        <h1>How to cook</h1>
    </section>
</body>


</html>