<!doctype html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link rel=stylesheet type=text/css href="/static/css/top.css">
    <title>top</title>
</head>


<body>
    <div id="title">
        <h1>のりあーと美術館</h1>
    </div>
    <nav id="topnav">
        <ul id="navbar">
            <li id="navconcept"><a href="#">Concept</a></li>
            <li id="navmenu"><a href="#">Menu</a></li>
            <li id="navhowtocook"><a href="#">How to cook</a></li>
            <li id="navinsta"><a href="#">Instagram</a></li>
            <li id="navcatalog"><a href="#">Catalog</a></li>
            <li id="navcontact"><a href="#">Contact</a></li>
        </ul>
    </nav>
    <nav id="pagenav">
            <ul>
                <li id="nav2concept"><a href="#">Concept</a></li>
                <li id="nav2menu"><a href="#">Menu</a></li>
                <li id="nav2howtocook"><a href="#">How to cook</a></li>
                <li id="nav2insta"><a href="#">Instagram</a></li>
                <li id="nav2catalog"><a href="#">Catalog</a></li>
                <li id="nav2contact"><a href="#">Contact</a></li>
            </ul>
        </nav>

    <main>
        <section id="conseptsection">
            <div id="instaphoto">
                <img src="/static/images/insta.png">
            </div>
            <div id="conseptwrap">
                <h1>＋10秒で簡単インスタ映え</h1>
                <p>平日のお弁当、週末のホームパーティーに<span>海苔</span>を<span>ワンポイント</span>して<span>かんたんオシャレ</span>に</p>
            </div>
        </section>
        <section id="menusection">
            <h1>Menu</h1>
            <p>お弁当には...</p>
            <img src="/static/images/logo.png">
            <img src="/static/images/logo.png">
            <p>ホームパーティーには...</p>
            <img src="/static/images/logo.png">
            <img src="/static/images/logo.png">
        </section>
        <section　id="instagramsection">
            <h1></h1>        
        </section>
    
    
        <!-- <section id="howtocooksection">
            <p>作り方はこちらでもいいかもね</p>
            <h1>How to cook</h1>
            <artticle id="pizza">
                <div id="pizzawrap">
                    <div class="pizzarecipi">
                        <ul>
                            <li>①</li>
                            <li><img src="/static/images/logo.png"></li>
                            <li>ピザに使用する具材を用意と爪楊枝でおばけ型にかたどったチーズを用意。</li>
                        </ul>
                    </div>
                    <div class="pizzarecipi">
                        <ul>
                            <li>②</li>
                            <li><img src="/static/images/logo.png"></li>
                            <li>市販のピザ生地にケチャップなどのソースを塗り、具材をのせてオーブンへ</li>
                        </ul>
                    </div>
                    <div class="pizzarecipi">
                        <ul>
                            <li>③</li>
                            <li><img src="/static/images/logo.png"></li>
                            <li>最後にのりあーとハロウィンをワンポイント</li>
                        </ul>
                    </div> 
                </div>
            </artticle>
        </section> -->
    </main>
</body>


</html>