*{
    margin: 0;
    padding: 0;
    font-family: 'HuiFontP109';
}
body{
    background-color: antiquewhite;
}

#title{
    text-align: center;
}

.section1{
    text-align: center;
    font-family:'HuiFontP109';
}

#navbar{
    text-align: center;
}
#navbar li{
    display: inline;
}

#pagenav{
    display: none;
}




/*
WEBフォントで「ふい字(HuiFontP109)」 ver130717
http://customtemplate.blog112.fc2.com/blog-entry-143.html
*/
@font-face{
    font-family:'HuiFontP109';
    src:url('https://dl.dropboxusercontent.com/s/6snqvg654tirsyv/HuiFontP109.eot');
    src:url('https://dl.dropboxusercontent.com/s/6snqvg654tirsyv/HuiFontP109.eot?#iefix') format('embedded-opentype'),
    url('https://dl.dropboxusercontent.com/s/7pscemjdvt0wyiq/HuiFontP109.woff') format('woff'),
    url('https://dl.dropboxusercontent.com/s/0w9uuopxrns8ehi/HuiFontP109.ttf') format('truetype'),
    url('https://dl.dropboxusercontent.com/s/xnnsbxtz8o6d98i/HuiFontP109.svg#HuiFontP109') format('svg');
    }
